
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	}

.big-row {
	height: calc(100%/3);
	width: 100%;
	display: block;
}
.big-bottom {
	height: 8.33%;
	width: 100%;
	display: flex;
}

.big-top {
	height: 25%;
	width: 100%;
	background-color: red;
	}

.half-column {
	height: calc(100%/3);
	width: 100%;
	display: block;
}

.purple {
	height: 100%;
	width: calc(100%/3);
	background-color: purple;
}

.black-box {
	height: 100%;
	width: calc(100%/3);
	background-color: black;
	display: flex;
	}
.red {
	background-color: red;
}

.blue {
	background-color: #403E4F;
	height: 100%;
	}

.black {
	background-color: #21211F;
	
}

.tan {
	background-color: #7E8167;
	
}

.green {
	background-color: #008514;
	
}
	
.grey {
	background-color: #61605A;
	
}

.skinny-boy-green {
	display:block;
	height:100%;
	width: 25%;
}

.center-content {
	align-items: center;
	justify-content: center;
	display: flex;
}

.restrict-img-size {
	max-height: 100%;
	max-width: 100%;
}

.block {
	display: block;
}

.big-boy-blue{
	display: block;
	height:	100%;
	width:	75%;
	background-color:blue;
}

.stretch_img {
	height: 100%;
	width: 100%;
	border-style: solid;
	border-color: gray;
	/*I think this is the most complex piece of CSS in my page.
	This code here makes the images in the HTMl stretch and fill up the 
	Individual div that it is in. The function that this code does is advanced.
	*/
	} 
	
.opaque {
	opacity: 0;
	}